{% set layout = 'base.html.twig' %}

{% extends layout %}

{% block body %}
    {{ parent() }}
    <h1> A propos de We Movies! </h1>
    
    <div class="container">
    <div class="row">
    <form id="searchInput" class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
</form>
</div>
    </div>
    <div class="row">
        <aside class='col-sm-4'>
        {% for genre in genres %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="genre" value="" id="{{genre.id}}">
                <label class="form-check-label" for="{{genre.id}}">
                    {{genre.name}}
                </label>
            </div>
        {% endfor %}
        </aside>
        <div class="movies col-sm-8">
            {% for movie in movies %}
                <div class="card" value="{{movie.genre_ids}}" style="width: 25rem;">
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.overview }}</p>

                        <button id="readmore">Lire les détails</button>
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}