{% set layout = 'base.html.twig' %}

{% extends layout %}

{% block body %}
    {{ parent() }}
    <h1> A propos de We Movies! </h1>
    <div>
    {% for genre in genres %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="genre" value="" id="{{genre.id}}">
            <label class="form-check-label" for="{{genre.id}}">
                {{genre.name}}
            </label>
        </div>
    {% endfor %}
    </div>
    <div class="movies">
        {% for movie in movies %}
			<div class="card" value="{{movie.genre_ids}}">
					<div class="card"  style="width: 18rem;">
                        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
						<div class="card-body">
							<h5 class="card-title">{{ movie.title }}</h5>
							<p class="card-text">{{ movie.overview }}</p>

							<button id="readmore">Lire les détails</button>
						</div>
					</div>
			</div>
		{% endfor %}
    </div>
{% endblock %}